<ul class="nav navbar-nav">
    <li class="active lien"><a href="{{ path('index') }}">
    <i class="fa fa-home sr-icons"></i> Home</a>
    </li>
    <li class=" lien"><a href="{{ path('about') }}">
    <i class="fa fa-bookmark sr-icons"></i> About</a>
    </li>
 <li class=" lien"><a href="{{ path('blog') }}">
 <i class="fa fa-file-text sr-icons"></i> Blog</a>
    </li>
    <li><a href="{{ path('contact') }}">
    <i class="fa fa-phone-square sr-icons"></i> Contact</a>
    </li>
</ul>
